@font-face {
    font-family:'nyt-cheltenham';
    //src:local("/fonts/family/cheltenham/cheltenham-normal-200"),url(https://g1.nyt.com/fonts/family/cheltenham/cheltenham-normal-200.woff) format("woff");
    src: url('files/cheltenham-normal-200.woff') format('woff');
    font-style:normal;
    font-weight:200
}
  
@font-face {
    font-family:'nyt-cheltenham';
    //src:local("/fonts/family/cheltenham/cheltenham-italic-200"),url(https://g1.nyt.com/fonts/family/cheltenham/cheltenham-italic-200.woff) format("woff");
    src: url('files/cheltenham-italic-200.woff') format('woff');
    font-style:italic;
    font-weight:200
}
  
@font-face {
    font-family:'nyt-cheltenham';
    //src:local("/fonts/family/cheltenham/cheltenham-normal-300"),url(https://g1.nyt.com/fonts/family/cheltenham/cheltenham-normal-300.woff) format("woff");
    src: url('files/cheltenham-normal-300.woff') format('woff');
    font-style:normal;
    font-weight:300
}
  
@font-face {
    font-family:'nyt-cheltenham';
    //src:local("/fonts/family/cheltenham/cheltenham-italic-300"),url(https://g1.nyt.com/fonts/family/cheltenham/cheltenham-italic-300.woff) format("woff");
    src: url('files/cheltenham-italic-300.woff') format('woff');
    font-style:italic;
    font-weight:300
}
  
@font-face {
    font-family:nyt-cheltenham;
    //src:local("/fonts/family/cheltenham/cheltenham-normal-400"),url(https://g1.nyt.com/fonts/family/cheltenham/cheltenham-normal-400.woff) format("woff");
    src: url('files/cheltenham-normal-400.woff') format('woff');
    font-style:normal;
    font-weight:400
}
  
@font-face {
    font-family:nyt-cheltenham-backbone;
    //src:local("/fonts/family/cheltenham/cheltenham-normal-400"),url(https://g1.nyt.com/fonts/nyt-cheltenham-400-normal.woff) format("woff");
    src: url('files/nyt-cheltenham-400-normal.woff') format('woff');
    font-style:normal;
    font-weight:400
}
  
  
@font-face {
    font-family:'nyt-cheltenham';
    //src:local("/fonts/family/cheltenham/cheltenham-italic-400"),url(https://g1.nyt.com/fonts/family/cheltenham/cheltenham-italic-400.woff) format("woff");
    src: url('files/cheltenham-italic-400.woff') format('woff');
    font-style:italic;
    font-weight:400
}
  
@font-face {
    font-family:'nyt-franklin';
    //src:local("/fonts/family/franklin/franklin-normal-300"),url(https://g1.nyt.com/fonts/family/franklin/franklin-normal-300.woff) format("woff");
    src: url('files/franklin-normal-300.woff') format('woff');
    font-style:normal;
    font-weight:300
}
  
@font-face {
    font-family:'nyt-franklin';
    //src:local("/fonts/family/franklin/franklin-italic-300"),url(https://g1.nyt.com/fonts/family/franklin/franklin-italic-300.woff) format("woff");
    src: url('files/franklin-italic-300.woff') format('woff');
    font-style:italic;
    font-weight:300
}
  
@font-face {
    font-family:'nyt-franklin';
    //src:local("/fonts/family/franklin/franklin-normal-500"),url(https://g1.nyt.com/fonts/family/franklin/franklin-normal-500.woff) format("woff");
    src: url('files/franklin-normal-500.woff') format('woff');
    font-style:normal;
    font-weight:500
}
  
@font-face {
    font-family:'nyt-franklin';
    //src:local("/fonts/family/franklin/franklin-italic-500"),url(https://g1.nyt.com/fonts/family/franklin/franklin-italic-500.woff) format("woff");
    src: url('files/franklin-italic-500.woff') format('woff');
    font-style:italic;
    font-weight:500
}
  
@font-face {
    font-family:'nyt-franklin';
    //src:local("/fonts/family/franklin/franklin-normal-600"),url(https://g1.nyt.com/fonts/family/franklin/franklin-normal-600.woff) format("woff");
    src: url('files/franklin-normal-600.woff') format('woff');
    font-style:normal;
    font-weight:600
}
  
@font-face {
    font-family:'nyt-franklin';
    //src:local("/fonts/family/franklin/franklin-italic-600"),url(https://g1.nyt.com/fonts/family/franklin/franklin-italic-600.woff) format("woff");
    src: url('files/franklin-italic-600.woff') format('woff');
    font-style:italic;
    font-weight:600
}
  
@font-face {
    font-family:'nyt-franklin';
    //src:local("/fonts/family/franklin/franklin-normal-700"),url(https://g1.nyt.com/fonts/family/franklin/franklin-normal-700.woff) format("woff");
    src: url('files/franklin-normal-700.woff') format('woff');
    font-style:normal;
    font-weight:700
}
  
@font-face {
    font-family:'nyt-franklin';
    //src:local("/fonts/family/franklin/franklin-italic-700"),url(https://g1.nyt.com/fonts/family/franklin/franklin-italic-700.woff) format("woff");
    src: url('files/franklin-italic-700.woff') format('woff');
    font-style:italic;
    font-weight:700
}
  
@font-face {
    font-family:'nyt-karnak';
    //src:local("/fonts/family/karnak-normal/karnak-normal-400"),url(https://g1.nyt.com/fonts/family/karnak-normal/karnak-normal-400.woff) format("woff");
    src: url('files/karnak-small-normal-400.woff') format('woff');
    font-style:normal;
    font-weight:300
}